services:
  mariadb:
    image: mariadb:11
    container_name: mydb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpass
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  tomcat:
    container_name: mytomcat
    image: tomcat:latest
    restart: on-failure
    ports:
      - "8080:8080"

volumes:
  mariadb_data:

